@model BirdShopMvcProject.Models.Birds
@{
    /**/

    /**/

    ViewBag.Title = "Create";
}

<h2>Create</h2>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/bootstrap.js"></script>

@using (Html.BeginForm())
{
    <div class="container">
        <form id="myForm">
            <table class="table table-bordered table-striped">
                <tr>
                    <td>
                        @Html.LabelFor(model => model.Id)
                        @Html.EditorFor(model => model.Id)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.BirdName)
                        @Html.EditorFor(model => model.BirdName)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.Age)
                        @Html.EditorFor(model => model.Age)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.Gender)
                        @Html.EditorFor(model => model.Gender)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.Price)
                        @Html.EditorFor(model => model.Price)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.DealersID)
                        @Html.EditorFor(model => model.DealersID)
                    </td>
                </tr>
                <tr>
                    <td><input type="submit" value="Create" id="btnCreate" /></td>
                </tr>
            </table>
        </form>
    </div>
  
 }


<script>
    $(document).ready(function () {
        $("btnCreate").click(function () {
            $("#success").hide();
            var data = $("#myForm").serialize();
            $.ajax({
                type: "POST",
                url: "/Birds/Create",
                data: data,
                success: function (response) { 
                    alert(response)
                }
            })
        })

    })
</script>



